.card-list {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    animation: moveFromBottom 1.5s ease-out;

    @include respond(tab-land) {
      width: 95vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 3rem;
    }
    
    @include respond(tab-port) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
    }
    
    @include respond(phone) {
      grid-template-columns: 1fr;
    }
  }
  
  .card-container {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 36rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #1a1a1c;
    overflow: hidden;
    text-align: center;
    align-self: flex-start;
    transition: all .8 ease;

    @include respond(tab-land) {
      width: 34rem;
    }

    @include respond(tab-port) {
      width: 40rem;
      margin: 0 auto;
    }

    @include respond(phone) {
      width: 30rem;
      margin: 0 auto;
    }

    &:hover  {
        transform: scale(1.02);
        z-index: 1;
      }
  }
  
  